* {
    background-color: rgb(156, 133, 103);
    text-align: center;
}

#daltonismoSelect, option {
    background-color: azure;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid #fff9f9;
  border-radius: 3px;
  vertical-align: middle;
  position: relative;
  top: 1px;
}

#original {
    width: 400px;
}

#filtered {
    width: 400px;
}